.productCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid rgb(69, 67, 67);
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  width: 220px;
  max-width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 150px;
  width: 150px;
  flex-shrink: 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rating {
  font-size: 1rem;
  font-weight: 700;
}

/* .title {
  font-weight: 600;
  word-break: break-word;
  max-width: 100%;
  overflow-wrap: break-word;
  hyphens: auto;
  text-align: center;
} */

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3em;
  /* keeps equal height */
}

.category {
  font-size: 0.8rem;
  background-color: rgb(247, 215, 173);
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.2rem;
  text-transform: capitalize;
}


/* 🔽 Responsive layout: image left, content right */
@media (max-width: 500px) {
  .productCard {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: none;
    align-items: center;
  }

  .imageWrapper {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contentWrapper {
    flex: 1;
    padding-left: 1rem;
    align-items: flex-start;
    text-align: left;

  }

  .title {
    font-size: 1rem;
    text-align: left;
  }
}