.header {
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 1.5rem;
   background-color: #328ce6;
}

.navBar {
  background-color: #328ce6; /* Primary Blue */
  
  color: white;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  align-items: center;
}

.link a {
  text-decoration: none;
  padding: 0.88rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.link a:hover {
  background-color: #095ab0; /* Slightly darker blue */
}

.active {
  background-color: #084c94; /* Deep blue for active link */
}

.logoContainer{
  height: 50px;
  /* width: 50px; */
  background-color: rgb(255, 166, 0);
  display: flex;
  justify-content: center;
  align-items: center;
 
  padding: 1rem 0.5rem;

  text-decoration: none;
  gap: 0.4rem;
  border-radius: 10px;

}
.logoTitle{
  color: black;
}
.logo {
  height: 30px;
}

.logoContainer {
  /* Optional border for testing layout */
}


@media(max-width:500px){
  .logo{
    height: 20px;
  }
  .link a{
    font-size: 1rem;
  }
}
