.app{
    padding: 0 1rem;
    padding-bottom: 1rem;
    max-width: 1200px;
    margin: 0 auto;


    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

@media(max-width:500px){
    .app{
        padding: 0px;
    }
}