.productContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.homePage{
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    height: 100%;

}

@media(max-width:500px){
    .homePage{
        /* padding: 0 1rem; */
    }
}